main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 700px;
}
#section-login{
    height: 100%;
    width: 400px;
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px 20px;

}
input{
    box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.3);
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
}